* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  .abt-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: black;
    min-height: 100vh; /* Ensure the black background covers the full viewport height */
  }
  
  .abt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .abt-img img {
    width: 100%;
    max-width: 800px; /* Increased the max-width to make the image bigger */
    height: auto;
    margin: 10px;
  }
  
  .abt-writeup {
    flex: 1;
    padding: 20px;
    margin: 80px;
    color: white;
    max-width: 600px; /* Ensure the text doesn't become too wide on large screens */
  }
  
  .abt-writeup h5 {
    margin: 0; /* Remove margin to center text within its container */
  }
  
  /* Responsive Styles */
  @media (max-width: 1024px) {
    .abt {
      flex-direction: column;
      align-items: center;
    }
  
    .abt-writeup {
      max-width: 100%;
      text-align: center;
    }
  
    .abt-img img {
      max-width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .abt-img img {
      max-width: 90%;
    }
  
    .abt-writeup h5 {
      margin-left: 0; /* Adjust for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .abt-img img {
      max-width: 100%;
    }
  
    .abt-writeup h5 {
      margin-left: 0; /* Adjust for smaller screens */
    }
  }
  